.hexagoneSpinner{
    /*position: relative;*/
    /*margin-left: 25%;*/
    margin: 100px  250px ;
    width: 50px;
    height: 50px;
    z-index:10;
    overflow:hidden;
    background-image: url("./HexagoneSpinner.png");
    /* animation de loop */
    /*-webkit-animation: mymove 1.5s;  !* Safari 4.0 - 8.0 *!*/
    -webkit-animation: mymove 2.5s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
}

@keyframes mymove {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}